<ion-list>
  <ion-list-header>
    WELCOME TO OUR STORE
  </ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Crystal_Project_computer.png/250px-Crystal_Project_computer.png">
    </ion-avatar>
    <ion-label>
      <h2>ASUS ABC</h2>
      <h3>已出貨</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Crystal_Project_computer.png/250px-Crystal_Project_computer.png">
    </ion-avatar>
    <ion-label>
      <h2>DELL CDEF</h2>
      <h3>已出貨</h3>
      <p>I've got enough on my plate as it is, and I...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Crystal_Project_computer.png/250px-Crystal_Project_computer.png">
    </ion-avatar>
    <ion-label>
      <h2>ASUS EFGHijklmnop</h2>
      <h3>備貨中</h3>
      <p>You will remove these restraints and leave...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Crystal_Project_computer.png/250px-Crystal_Project_computer.png">
    </ion-avatar>
    <ion-label>
      <h2>APPLE MAAAAC</h2>
      <h3>訂單成立</h3>
      <p>I feel the good in you, the conflict...</p>
    </ion-label>
  </ion-item>
</ion-list>